<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.lpskin"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <!--android:theme="@style/SkinTheme">   -->
        <!--由于同个程序中不同模块不能使用不同的theme因此暂时注释-->

        <activity android:name="com.example.lpskin.SplashActivity"
            android:theme="@style/SplashTheme">
        </activity>
        <activity android:name="com.example.lpskin.SkinMainActivity">
        </activity>

        <activity android:name="com.example.lpskin.SkinActivity"/>
    </application>

</manifest>